nav{
    display: flex;
    background: #ffffff;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    
}
.navbar ul{
   display: flex;
   flex-direction: row;
   padding: 1.5rem;  
}
.buton_barra{
    font-size: 2rem;
    margin: 1rem;
    padding: 10px;

}
.conexion-image{
    width: 100%;
    max-width: 500px;
    height: auto;
    margin:10px;
    
}
